antlr aopalliance asm avalon-framework backport-util-concurrent c3p0 ch classworlds com commons-beanutils commons-chain commons-cli commons-codec commons-collections commons-dbcp commons-digester commons-fileupload commons-io commons-lang commons-logging commons-pool commons-validator de dom4j dubbo error io is jai_codec jai_core javax jline jna junit local log4j logkit mi mi-utils-mht mysql net org oro pede pedestrian-tracking sslext thumbnailator WebPViewer xerces xml-apis xpp3
